%imgicon {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: $bg-primary-color;
	color: $p-color;
	text-align: center;

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 16px;
		transform: translate(-50%, -50%);
	}
}

.img-icon {
	@extend %imgicon;

	&--inc {
		@extend %imgicon;
		background-color: $color-inc;

		&:before {
			background: url('../images/img-icon-wallet.png') top left no-repeat;
			width: 20px;
			height: 20px;
			background-size: 100% 100%;
			content: ' ';
		}

	}

	&--bank {
		@extend %imgicon;
		background-color: $color-bank;

		&:before {
			background: url('../images/img-icon-bank.png') top left no-repeat;
			width: 20px;
			height: 20px;
			background-size: 100% 100%;
			content: ' ';
		}
	}

	&--loan {
		@extend %imgicon;
		background-color: $color-loan;

		&:before {
			background: url('../images/img-icon-loans.png') top left no-repeat;
			width: 20px;
			height: 19px;
			background-size: 100% 100%;
			content: ' ';
		}
	}

	&--exp {
		@extend %imgicon;
		background-color: $color-exp;

		&:before {
			background: url('../images/img-icon-expenses.png') top left no-repeat;
			width: 20px;
			height: 20px;
			background-size: 100% 100%;
			content: ' ';
		}
	}

	&--wallet-o {

		&:before {
			background: url('../images/img-icon-wallet-o.png') top left no-repeat;
			width: 20px;
			height: 20px;
			background-size: 100% 100%;
			content: ' ';
		}
	}

	
}