header {
	background-color: $bg-primary-color;

	.container-fluid {
		margin-bottom: 10px;
	}

	.head-content {
		display: table;


		a.menu-bars {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: $p-color;
		}

		.head-main-content {
			display: table-cell;
			padding-left: 5px;

			.sub-container {
				display: table;
				color: $p-color;

				.title-money-container {
					display: table-cell;
					vertical-align: middle;
					width: 100%;
					font-family: 'Open Sans', sans-serif;

					h1 {
						font-size: 32px;
						margin-bottom: 5px;
					}

					.current-money {
						font-size: 15px;
					}
				}

				p.date-today {
					display: table-cell;
					vertical-align: middle;
					font-size: 15px;
				}
			}
		}
	}

	nav {
		ul {
			display: flex;
			padding: 0;
			justify-content: space-around;
			list-style-type: none;
			border-top: 1px solid #fff;
			margin-bottom: 0;

			li {

				text-align: center;
				width: 25%;

				&.active {
					border-bottom: 4px solid #FCF5FF;
				}

				&:hover {
					border-bottom: 4px solid #FCF5FF;
				}

				a {
					display: block;
					color: $p-color;
					padding: 14px 10px;

					&:hover {
						color: $p-color;
						text-decoration: none;
					}

					span {
						display: block;
						position: relative;

						&.logo-pig:before {
							display: inline-block;
							vertical-align: middle;
							background: url('../images/logo-pig.png') top left no-repeat;
							width: 18px;
							height: 18px;
							background-size: 100%;
							content: ' ';
						}
					}
				}
			}
		}
	}
}

main {
	padding: 5px 0;
	background-color: #fcf5ff;
	margin-bottom: 60px;

	.content-container {
		overflow: hidden;

		%main-container {
			width: 100%;
			margin-right: auto;
			margin-left: auto;
			padding-left: 10px;
			padding-right: 10px;

			.transac-container {
				padding: 0;
				margin-bottom: 0;
				list-style-type: none;

				li {
					.date-summary-exp {
						display: flex;
						justify-content: space-between;
						align-items: center;
						border-bottom: 1px solid #d3d3d3;
						padding: 5px 0;
						margin-bottom: 10px;


						p {
							margin-bottom: 0;

							&.date-title {
								font-size: 21px;
								color: $color-def;
							}

							&.summary-exp {
								font-size: 15px;
								color: $color-exp;
								font-weight: bold;
							}
						}
					}

					.transac-list {
						padding: 0;
						margin: 0 10px;
						list-style-type: none;

						li {

							margin-bottom: 10px;

							.transac-list-cont {
								display: flex;
								justify-content: space-between;
								align-items: flex-start;
							}

							&:last-child {
								margin-bottom: 0;
								.transac-details-container {
									margin-bottom: 0;
									border-bottom: none;
								}
							}

							.transac-details-container {
								@extend .clearfix;
								flex-grow: 1;
								margin-left: 10px;
								border-bottom: 1px solid #d3d3d3;
								font-size: 12px;
								padding-bottom: 10px;

								p {
									margin-bottom: 0;
								}

								.detail-desc {
									float: left;
									width: 55%;

									.title {
										overflow: hidden;
										margin-bottom: 5px;
										color: #6d6d6d;
										font-size: 13px;
										font-weight: 600;
										white-space: nowrap;
										text-overflow: ellipsis;
									}

									.category {
										color: #adadad;
									}
								}

								.money-container {
									width: 45%;
									float: right;
									text-align: right;

									%money {
										font-weight: 600;
									}

									.money {
										&--exp {
											@extend %money;
											color: $color-exp;
										}

										&--inc {
											@extend %money;
											color: $color-inc;
										}

										&--bank {
											@extend %money;
											color: $color-bank;
										}

										&--loan {
											@extend %money;
											color: $color-loan;
										}
									}

									.from-money {
										color: #adadad;
									}
								}
							}
						}
					}
				}
			}
		}

		.dashboard-container {
			@extend %main-container;
			display: none;

			.transac-list {

				.transac-details-container {

					.money-container {

						p:first-child {
							margin-bottom: 5px;
						}
					}
				}
			}
		}

		.bank-container {
			@extend %main-container;
			

			.transac-container {

				li {

					.transac-list {

						li {

							padding-bottom: 10px;
							border-bottom: 1px solid #d3d3d3;

							.transac-list-cont {
								align-items: center;
							}

							&:last-child {
								border-bottom: none;
								margin-bottom: 0;
							}

							.transac-details-container {
								padding-bottom: 0;
								border-bottom: none;

								.detail-desc {

									p {	
										text-transform: uppercase;
									}

									%title {
										font-size: 15px;
										font-weight: 600;
										margin-bottom: 0;
									}

									.title {
										&--inc {
											@extend %title;
											color: $color-inc;
										}

										&--bank {
											@extend %title;
											color: $color-bank;
										}

										&--loan {
											@extend %title;
											color: $color-loan;
										}

										&--exp{
											@extend %title;
											color: $color-exp;
										}
									}
								}

								.money-container {
									
									p:first-child {
										font-size: 15px;
										margin-bottom: 0;
									}
								}
							}

							.transac-list-details {
								list-style-type: none;
								padding-left: 50px;

								
							}
						}

					}
				}
			}

		}
	}
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $bg-primary-color;
	padding: 10px;

	.jt-logo {
		border: 2px solid #fff;
		padding: 8px;
		max-width: 40px;
		margin: 0 auto;
		border-radius: 50%;
		
		img {
			width: 100%;
			animation: rotateObj 3s infinite;
		}
	}
}