html {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
}


body {
	position: relative;
	margin: 0 auto;
	width: 100%;
	background-color: #fcf5ff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}