html {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
}


body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 768px;
	margin: 0 auto;

	@media screen and (max-width: $w-small) {
		width: 100%;
	}
}

.none {
	display: none;
}